.main, .list
{
  -fx-background-color: #111;
}

.datetime
{
  -fx-background-color: #1f2433;
}

.info-bar
{
  -fx-background-color: #2e3447;
}

.info-bar *
{
  -fx-text-fill: #BBB;
}

.datetime .time
{
  -fx-text-fill: #FFF;
}

.datetime .date
{
  -fx-text-fill: #EEE;
}

.error
{
  -fx-background-color: #601c20;
}

.error *
{
  -fx-text-fill: #EEE;
}

.call-item
{
  -fx-background-color: #111;
}

.call-modal
{
  -fx-background-color: #222;
  -fx-border-width: 3;
  -fx-border-color: #404b6a;
}

.call-modal .button.redial
{
  -fx-background-color: #736c32;
  -fx-text-fill: #EEE;
  -fx-background-radius: 0;
}

.call-modal .button.cancel-redial
{
  -fx-background-color: #732122;
  -fx-text-fill: #EEE;
  -fx-background-radius: 0;
}

.call-modal .button.cancel
{
  -fx-background-color: #2d7323;
  -fx-text-fill: #EEE;
  -fx-background-radius: 0;
}

.call-item .external
{
  -fx-text-fill: #EEE;
}

.call-item .internal
{
  -fx-text-fill: #DDD;
}

.call-item .city
{
  -fx-text-fill: #6f81b6;
}

.call-item .date
{
  -fx-text-fill: #8ca0db;
}

.call-item .time
{
  -fx-text-fill: #8ca0db;
}

.call-item .duration
{
  -fx-text-fill: #545c7d;
}

.list-cell
{
  -fx-padding: 0px;
  -fx-background-color: #111;
}